/* Define as configurações padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  /* Define o tamanho do texto padrão */
  body {
    font-size: 16px;
  }
  
  /* Define o tamanho do texto para telas menores que 600px */
  @media screen and (max-width: 600px) {
    body {
      font-size: 14px;
    }
  }
  
  /* Define o estilo do cabeçalho */
  header-container {
    height: 60px;
    padding: 50px 0;
  }
  
  /* Define o estilo do logotipo */
  .logo-container {
    width: 99%;
    text-align: center;
  }
  
  /* Define o estilo do menu */
  
  .menu-container {
    text-align: center;
    margin-bottom: 50px;  /* adiciona margem abaixo do menu */
  }
  
  .menu-container ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .menu-container li {
    margin-bottom: 10px;
  }
  
  .menu-container li a {
    display: block;
    background-color: #ba6578;
    color: #ffefef;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 18px;
    text-transform: Verdana, Tahoma, sans-serif;
  }
  
  .menu-container li a:hover {
    background-color: #0f2846;
  }
  
/* Fiz alterações para deixar os botão no centro */  
  
  /* Define o estilo das mídias sociais */
  .social-media-container {
    position: absolute;
    right: 50px;
    bottom: 50px;
  }
  
  .social-media-container img {
    width: 35px;
    height: 35px;
    margin-right: 15px;
  }