@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');
/* Define as configurações padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', Nanito, sans-serif;
    letter-spacing: 1px;
    list-style: none;
    text-decoration: none;
  }

  main {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Define o tamanho do texto padrão */
  body {
    font-size: 18px;
  }
  
  /* Define o tamanho do texto para telas menores que 600px */
  @media screen and (max-width: 600px) {
    body {
      font-size: 14px;
    }
  }

  /* define o estilo do cabeçalho */
  .header {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .header i {display: none;}

  .header h1 {
    font-size: 1.5rem;
  }

  header .navegacao-primaria {
    display: flex;
    gap: 10px;
    align-items: center;
  }

header .navegacao-primaria li a {
    padding: 10px;
    color: #fff;
    font-size: 1.3rem;
  }

header .navegacao-primaria li a:hover {
    color: #ba6578;
  }


  /* Define o estilo do logotipo */
   .logo {
    position: relative;
    left: 30%;
    transform: translateX(-50%);;
    margin-top: 1rem;
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    cursor: pointer;
  }

  section {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /*icone lp*/
  .icone-lp {
    position: relative;
    margin-top: auto;
    height: 250px;
    max-width: 250px;
    width: 550px;
    padding:2.5px;
    background-color: transparent;
    border: 0.2px solid  #dfa0ae;
    border-radius: 50%;
    cursor: pointer;
  }

  /* Define o estilo do menu */

  .menu-container {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    position: absolute;
    margin-top: 30rem;
  }

  /* 'margin-bottom' adiciona margem abaixo do menu */
  .menu-container ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .menu-container li {
    margin-bottom: 8px;
  }
  
  .menu-container li a {
    display: block;
    background-color: #ba6578;
    color: #ffefef;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 0px;
    text-transform: Inter, sans-serif;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  }
  
  .menu-container li a:hover {
    transform: scale(1.05);
    transition: 0.8s;
  }
  
/* Fiz alterações para deixar os botão no centro */  

  /* rodapé */
  footer {
    width: 100%;
    color: #f5f5f5;
    box-shadow: 3px 3px 50px rgba(0, 0, 0, 0.4);
  }
  .footer-link {
    text-decoration: none;
  }

  #footer_content {
    background-color: #0f2846;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem 3.5rem;
  }
  #footer_contacts h1 {
    margin-bottom: 0.03rem;
  }
  
  #footer_social_media {
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
  }
  
  .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    color: #f5f5f5;
    border-radius: 50%;
    margin: -0.1rem;
    transition:all 0.3s;
  }
  .footer-link i {
    font-size: 1.80rem;
  }
  .footer-link:hover {
    opacity: 0.8;
  }

  #instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
  }

  #whatsapp {
    background-color: #25d366;
  }

  .footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
  }

  #footer_copyright {
    display: flex;
    justify-content: center;
    background-color: #000;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
  }
@media screen and (max-width: 992px) {
  header {
    height: 7rem;
    box-shadow: 3px 3px 50px rgba(0, 0, 0, 0.4);
  }
  header .navegacao-primaria {
    display: none;
  }
  .header i {
    display: block;
    color: #ba6578;
    cursor: pointer;
    font-size: 2.5rem;
  }
  .logo {
    margin-top: 1.0rem;
    width: 100%;
    max-width: 170px;
  }
  .icone-lp {
    margin-top: 2rem;
  }
}

@media screen and (max-width:768px) {
  #footer_content {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    background-color: #0f2846;
  }
}

@media screen and (max-width:426px) {
  #footer_content {
    grid-template-columns: repeat(1, 1fr);
    padding: 3rem 2rem;
  }
}
